.head{
    background: #d34d31 url(../img/logo.png) no-repeat right center;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 199;
    position: fixed;
    font-size: 20px;
    color:#fff;
    text-align: center;
    line-height: 50px;
}

.znxy-questions-photo img {
    background-image: url(../img/doctor.png);
    /* background-color: #d62323; */
    /* background-image: url(1.jpg); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%; */
}

.znxy-answers-photo img {
    background-image: url(../img/Person.png) !important;
    /* background-color: #641691; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%; */
}
.znxy-views .znxy-results-view-overall .znxy-results-result-item{
    color: #666 !important;
    font-weight: bold !important;
}

.znxy-results-result-footer .znxy-results-result-link{
    visibility: hidden !important;
}
.znxy-results-result-footer {
    background-color: #fff !important;
}

.znxy-views .znxy-questions-view textarea{
    padding:0px;
}
.znxy-views .znxy-questions-view textarea{
    padding:8px 0px;
}

.znxy-views .znxy-questions-submit-button{
    min-width: 80%;
    padding: 8px 12px;
}

.znxy-views .znxy-questions-submit-button:disabled {
    border-color: #b3b3b3 !important;
    background:#b3b3b3;
    color: #fff !important;
}

.znxy-views .znxy-questions-view[disabled="1"] .znxy-questions-form * button {
    border-color: #b3b3b3 !important;
    color: #fff !important;
}

.znxy-views .znxy-questions-modify {
    color: #fff !important;
    background:#d34d31 !important;
    border-radius: 3px !important;
}
.znxy-views .znxy-questions-cancel {
    color: #fff !important;
    background:#5079d9 !important;
    border-radius: 3px !important;
}
.znxy-views * {
    font-size: 16px !important;
}
.znxy-views .znxy-results-view-overall .znxy-results-statement {
    font-size: 16px !important;
}

.znxy-views {
    background: #f2f2f2;
    margin-top: 60px;
    padding: 6px !important;
    /* padding: 6px !important; */
}