.znxy-questions-photo img {
    background-image: url(../img/doctor.png);
    /* background-color: #d62323; */
    /* background-image: url(1.jpg); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%; */
}

.znxy-answers-photo img {
    background-image: url(../img/Person.png) !important;
    /* background-color: #641691; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%; */
}
.znxy-views .znxy-results-view-overall .znxy-results-result-item{
    color: #666 !important;
    font-weight: bold !important;;
}

.znxy-results-result-footer .znxy-results-result-link{
    visibility: hidden !important;
}
.znxy-results-result-footer {
    background-color: #fff !important;
}

.znxy-views .znxy-questions-view textarea{
    padding:0px;
}
.znxy-views .znxy-questions-view textarea{
    padding:8px 0px;
}

.znxy-views .znxy-questions-submit-button{
    min-width: 80%;
    padding: 8px 12px;
}

.znxy-views .znxy-questions-submit-button:disabled {
    border-color: #bfbfbf !important;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.15);
    background:#b3b3b3;
    color: #fff !important;
}

.znxy-views .znxy-questions-view[disabled="1"] .znxy-questions-form * button {
    border-color: #bfbfbf !important;
    color: #fff !important;
}

.znxy-ui-formitem-radio input[type=radio]:checked+i {
    background: #d44d44;
}
